@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  background-image: url(/images/background.jpg);
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 1;
}

@keyframes autoRun {
  from {
    transform: perspective(500px) rotateX(-0deg) rotateY(0deg);
  }
  to {
    transform: perspective(500px) rotateX(-0deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
}

.banner .content h1 {
  font-size: 7em;
  line-height: 1em;
  color: #bbbdc9;
  text-align: left;
  max-width: 200px;
  position: relative;
  z-index: 3;
  top: 140px; /* Moves the h1 element down */
  left: -100px; /* Moves the h1 element to the right */
}

.banner .content .author {
  font-family: "Oswald";
  font-size: 4em;
  color: #bbbdc9;
  text-align: right bottom;
  max-width: 600px;
  position: relative;
  z-index: 3;
  top: 200px; /* Moves the h1 element down */
  right: -150px; /* Moves the h1 element to the left */
}

.banner .content .model {
  background-image: url(/images/FinalNPC.png);
  width: 100%;
  height: 64vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 10%; /* Add padding to ensure top part is visible */
  background-size: auto 130%; /* Scale based on your needs */
  background-repeat: no-repeat;
  background-position: top center; /* Position the image from the top */
  z-index: 2;
}

/*THIS PART SHOWS HOW TO PROCEED FOR SMALLER SCREENS => WIDTH SECTION*/
@media screen and (max-width: 1650px) {
  .banner .content h1 {
    font-size: 5em;
    top: 120px; /* Moves the h1 element down */
    left: 90px; /* Moves the h1 element to the right */
  }
  .banner .content .author {
    font-size: 3em;
    top: 160px; /* Moves the h1 element down */
    right: 10px; /* Moves the h1 element to the left */
  }
}
@media screen and (max-width: 1420px) {
  .banner .content .author {
    top: 160px; /* Moves the h1 element down */
    right: 65px; /* Moves the h1 element to the left */
  }
}
@media screen and (max-width: 1400px) {
  .banner .content .author {
    top: 160px; /* Moves the h1 element down */
    right: 30px; /* Moves the h1 element to the left */
  }
}
@media screen and (max-width: 1310px) {
  .banner .content h1 {
    font-size: 4em;
  }
  .banner .content .author {
    font-size: 2em;
    width: 300px;
    right: 100px; /* Moves the h1 element to the left */
  }
}
@media screen and (max-width: 1125px) {
  .banner .content h1 {
    font-size: 3em;
    top: 110px; /* Moves the h1 element down */
    left: 90px; /* Moves the h1 element to the right */
  }
  .banner .content .author {
    font-size: 1.5em;
    width: 300px;
    top: 140px;
    right: 80px; /* Moves the h1 element to the left */
  }
}
@media screen and (max-width: 985px) {
  .banner .content .author {
    font-size: 1.5em;
    top: 140px;
    right: 30px; /* Moves the h1 element to the left */
  }
}
@media screen and (max-width: 925px) {
  .banner .content h1 {
    font-size: 3em;
    top: 110px; /* Moves the h1 element down */
    left: 80px; /* Moves the h1 element to the right */
  }
}
@media screen and (max-width: 895px) {
  .banner .content h1 {
    left: 60px; /* Moves the h1 element to the right */
  }
  .banner .content .author {
    right: 20px;
  }
}
@media screen and (max-width: 855px) {
  .banner .content h1 {
    left: 40px; /* Moves the h1 element to the right */
  }
  .banner .content .author {
    right: 10px;
  }
}
@media screen and (max-width: 825px) {
  .banner .content h1 {
    left: 30px; /* Moves the h1 element to the right */
  }
  .banner .content .author {
    right: 0px;
    left: 10px;
  }
}
@media screen and (max-width: 780px) {
  .banner .content .txt {
    text-shadow: 2px 0 #3a3131;
  }
}

@media screen and (max-width: 540px) {
  .banner .content h1 {
    top: 100px;
    font-size: 2.5em;
  }
  .banner .content .author {
    top: 120px;
  }
}
@media screen and (max-width: 499px) {
  .banner .content h1 {
    top: 215px;
    font-size: 2.5em;
  }
  .banner .content .author {
    left: 220px;
    right: 0px;
    top: 115px;
  }
}
@media screen and (max-width: 489px) {
  .banner .content h1 {
    top: 270px;
    left: 25px;
  }
  .banner .content h2 {
    width: 200px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 465px) {
  .banner .content h1 {
    text-align: center;
    width: 100%;
    top: 90px; /* Adjust if necessary */
    left: 30%; /* Ensure it starts from the left */
    position: relative; /* Ensure the positioning works */
    clear: both;
    display: inline-block;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 1.5em; /* Adjust font size as needed */
    padding: 0 10px; /* Add some padding to avoid cutting off text */
    box-sizing: border-box; /* Ensure padding does not affect width */
  }
  .banner .content h2 {
    display: none;
  }
}
